body {
  background-image: url(./assets/page-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
body header h1 {
  font-family: "Alice", serif;
  text-align: center;
  text-decoration: underline;
  font-size: 8vw;
}
body header p {
  font-family: "Alice", serif;
  text-align: center;
  font-size: 4vw;
}
body .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body .carte {
  width: 70vw;
  height: 90vw;
  margin: 1vw;
}
body .carte .div_back {
  position: absolute;
  transform: perspective(600px) rotateY(180deg);
  background: #262626;
  color: #fff;
  width: 65vw;
  height: 85vw;
  border-radius: 10px;
  padding: 2vw;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: transform 0.5s linear 0s;
}
body .carte .div_back h2 {
  text-align: center;
  font-size: 8vw;
  font-family: "Alice", serif;
  margin-top: 1%;
}
body .carte .div_back .autor_year {
  display: flex;
  justify-content: space-between;
}
body .carte .div_back .autor_year .auteur {
  font-style: italic;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.5vw;
  margin: 0;
}
body .carte .div_back .autor_year .year {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  font-size: 3vw;
}
body .carte .div_back .page {
  font-family: "Roboto Mono", monospace;
  font-size: 3vw;
}
body .carte .div_back .resume {
  text-align: center;
  font-size: 2.5vw;
  margin: auto;
  font-family: "Alice", serif;
}
body .carte .div_back .div_icons {
  display: flex;
  justify-content: space-evenly;
  bottom: auto;
}
body .carte .div_back .div_icons a img {
  height: 10vw;
  width: 10vw;
  position: absolute;
  bottom: 2vw;
}
body .carte .div_front {
  position: absolute;
  transform: perspective(600px) rotateY(0deg);
  width: 65vw;
  height: 85vw;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: transform 0.5s linear 0s;
}
body .carte .div_front .div_images {
  background-color: #262626;
  background-size: cover;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
body .carte .div_front .div_images img {
  border-radius: 10px;
  margin: auto;
  height: 95%;
}
body .carte:hover > .div_front {
  transform: perspective(600px) rotateY(-180deg);
}
body .carte:hover > .div_back {
  transform: perspective(600px) rotateY(0deg);
}

@media screen and (min-width: 1024px) {
  main header h1 {
    font-size: 6vw;
  }
  main header p {
    font-size: 3vw;
  }
  main .carte {
    width: 30vw;
    height: 50vw;
  }
  main .carte .div_back {
    width: 25vw;
    height: 45vw;
  }
  main .carte .div_back h2 {
    font-size: 3vw;
  }
  main .carte .div_back .autor_year .auteur {
    font-size: 2.5vw;
  }
  main .carte .div_back .autor_year .year {
    font-size: 2vw;
  }
  main .carte .div_back .page {
    font-size: 2vw;
  }
  main .carte .div_back .resume {
    font-size: 1vw;
  }
  main .carte .div_back .div_icons a img {
    height: 4vw;
    width: 4vw;
    bottom: 2vw;
  }
  main .carte .div_front {
    width: 25vw;
    height: 45vw;
  }
  main .carte .div_front .div_images {
    width: 100%;
    height: 100%;
  }
  main .carte .div_front .div_images img {
    height: 75%;
  }
}/*# sourceMappingURL=style.css.map */